[submodule "ManiSkill2_real2sim"]
	path = ManiSkill2_real2sim
	url = https://github.com/simpler-env/ManiSkill2_real2sim
[submodule "octo"]
	path = 3rdparty/octo
	url = https://github.com/octo-models/octo.git
[submodule "molmoact"]
	path = 3rdparty/molmoact
	url = https://github.com/BorisGuo6/molmoact.git
[submodule "spear1-franka"]
	path = 3rdparty/spear1-franka
	url = https://huggingface.co/INSAIT-Institute/spear1-franka
